// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@function str-replace($string, $search, $replace:"") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@mixin font-face($fonts, $fonts-folder, $weight:normal, $style:null, $exts:eot woff2 woff ttf svg) {
  @each $f-src, $f-name, $f-weight in $fonts {
    $src: null;
    $extmods: (eot:"?", svg:"#"+ str-replace($f-src,"","_"));
    $formats: (otf:"opentype", ttf:"truetype");
    @each $ext in $exts {
      $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods,$ext), $ext);
      $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
      $src: append($src, url(quote($assets-path+ "/fonts/" +$fonts-folder+ "/" +$f-src+ "." +$extmod)) format(quote($format)), comma);
    }
    @font-face {
      font-family: quote($f-name);
      font-style: $style;
      font-weight: $f-weight;
      src: $src;
      font-display: swap;
    }
  }
}

